<div style="margin-bottom: 10px">
  Switch State:
  <mat-radio-group aria-label="Select an option" [(ngModel)]="state">
    <mat-radio-button *ngFor="let item of states" (click)="change()"
                      [value]="item.value">{{item.label}}</mat-radio-button>
  </mat-radio-group>

  <button mat-raised-button color="primary" (click)="change()" class="left">Refresh</button>
  <label class="left">#
    <input type="number" [(ngModel)]="recordId"/>
  </label>
</div>

<mat-progress-bar mode="query" *ngIf="isLoadingResults"></mat-progress-bar>

<mat-card *ngFor="let record of data">
  <mat-card-header>
    <span>#{{record.record_id}}</span>
    <span>{{states[record.state].label}}</span>
  </mat-card-header>
  <mat-card-content>
    <pre>
<code [highlight]="getCodeFromXml(record.xml_data)"></code>
</pre>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button (click)="setResult(record, 2)">Normal</button>
    <button mat-raised-button color="warn" (click)="setResult(record, 1)">Cheat</button>
    <button mat-raised-button (click)="setResult(record, 3)">Not Sure</button>
    <button mat-raised-button (click)="getQContent(record.record_id)">View Problem</button>
    <button mat-raised-button (click)="getMContent(record.record_id)">View Reference Answer</button>
  </mat-card-actions>
</mat-card>
<mat-paginator [length]="resultsLength"
               [pageSize]="10"
               [pageSizeOptions]="[5, 10, 25, 100]" [showFirstLastButtons]="true">
</mat-paginator>
