.button-row button {
  margin-right: 8px;
}

.button-row {
  margin-bottom: 10px;
}

.alert {
  color: red;
}

.normal{
  color: green;
}

.list li {
  margin-bottom: 10px;
}

.s {
  margin-bottom: 5px;
}
